name: we_pay
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  freezed_annotation: ^2.0.3
  dartz: ^0.10.1
  flutter_bloc: ^8.0.1
  firebase_core: ^1.19.1
  firebase_auth: ^3.4.1
  google_sign_in: ^5.3.3
  injectable: ^1.5.3
  get_it: ^7.2.0
  another_flushbar: ^1.10.29
  uuid: ^3.0.6
  auto_route: ^4.2.0
  cloud_firestore: ^3.2.1
  json_annotation: ^4.5.0
  rxdart: ^0.27.4
  provider: ^6.0.3
  email_validator: ^2.0.1
  flutter_slidable: ^1.3.0
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
  build_runner: ^2.1.11
  freezed: ^2.0.3+1
  injectable_generator: ^1.5.3
  auto_route_generator: ^4.2.0
  json_serializable: ^6.2.0
  change_app_package_name: ^1.1.0
  
flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
