<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854123972211-rubv9iu7170k29mvhbs7hp0csan3v5f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854123972211-rubv9iu7170k29mvhbs7hp0csan3v5f1</string>
	<key>API_KEY</key>
	<string>AIzaSyBrEDN1v9MfAQA4KN8qwADtELDlth1G2wU</string>
	<key>GCM_SENDER_ID</key>
	<string>854123972211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wePay</string>
	<key>PROJECT_ID</key>
	<string>wepay-817af</string>
	<key>STORAGE_BUCKET</key>
	<string>wepay-817af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854123972211:ios:bae4fc44eb3f698f958c06</string>
</dict>
</plist>